doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Pyrokinesis is my Favorite Singer
        link(href='https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,700,800,900', rel='stylesheet')
    body#biography
        .wrapper
            .container
                header.header.clearfix
                        a.header__logo.logo(href="index.html") Vania
                            span.mod--color-red Fed
                        nav.nav
                            ul.nav-list
                                li.nav__item
                                    a.nav__link#nav__link--main(href="index.html") Главная
                                li.nav__item
                                    a.nav__link#nav__link--biography(href="biography.html") Биография
                                li.nav__item
                                    a.nav__link#nav__link--discography(href="discography.html") Дискография
                                li.nav__item
                                    a.nav__link#nav__link--gallery(href="gallery.html") Галерея
                .welcome-picture
                    .text-welcome-container
                        .text-welcome-container__name-singer Pyrokinesis
                        .text-welcome-container__text-description мой любимый исполнитель
                article.article
                    h1.article__title-main Биография
                    .article-item 
                        h2.article__title В двух словах
                        .article__text. 
                            Pyrokinesis – он же Андрей Пирокинезис — один из ярчайших представителей осмысленного рэпа на русском. В его треках очень много отсылок к мифологии и видеоиграм. Его музыка — это не просто выдуманный образ, а реально прожитые и прочувствованные автором моменты. Он умеет создать атмосферу, которая сразу возникает при прослушивании треков. Его тексты, идущие от сердца, несут в себе ненависть, боль и агрессию личности, которая ищет выход из тумана безысходности. Это крик души, запертой в клетке.
                    .article-item 
                        h2.article__title Школьный поэт
                        .article__text. 
                            Писать тексты Андрей начал в девятом классе. Откуда-то пришло вдохновение, и эту энергию нужно было реализовывать. Обнаружилось влечение к творчеству, и началось сочинительство. Причем, и стихи и рассказы, для себя, просто в стол. В десятом классе узнал от друга, что такое рэп, попробовал свои возможности в этом направлении. Появились и тексты, с которыми он начал участвовать в текстовых батлах. У того же друга была небольшая студия. Андрей попробовал записать на ней пару треков на свои рифмы. Занятие понравилось, и он решил продолжить его. Музыкой начал заниматься в середине одиннадцатого класса. Специального образования в этом направлении у него нет. Немного освоил самоучкой гитару, понял, что нужно заниматься пением. Чем дальше он погружался в рэп, тем больше укреплялся в решении заниматься только творчеством, и больше ничем. Всякая учеба отошла в сторону.
                    .article-item 
                        h2.article__title Творчество
                        .article__text. 
                            Стартом в музыкальной карьере молодого автора и исполнителя стал 2015 год. Он выпускает сразу три EP: Первым из них стала работа под названием «5», увидевшая свет в конце марта месяца. В нее вошло пять композиций; «Black Roze x Red Roze» из восьми треков при участии Sted.d вышел в середине июля; «Burn to Die», в пяти песнях которого раскрывается переживания и внутренний мир молодого артиста; В следующем, 2016 году двадцать первого июля творческая биография Pyrokinesis пополняется более объемной работой из девяти композиций – альбомом «Eclipse». Он качественно отличается от предыдущих релизов. Слушатели оценили старания молодого рэпера, и количество фанатов у музыканта значительно выросло. Появляются первые масштабные концерты, его начинают приглашать на запись фитов с другими исполнителями. В январе 2016 года Pyrokinesis выпускает песню, которая стала его локальным хитом – «Моя девочка софт-гранж». Альбом «Терновый Венец эволюции» появился в 2017 году. В его составе девять композиций, объединенных общей идеей, которую можно понять, только если прослушать весь альбом целиком и несколько раз. Но, это не напрягает. Артисту удалось, как и в предыдущем релизе, выдержать уровень музыкальной составляющей на такой же высоте. Исполнение очень эмоциональное, и этого нельзя не заметить. В единственной композиции Pyrokinesis фитует со Sted.D.
                    .article-item 
                        h2.article__title Творчество
                        .article__text. 
                            Pyrokinesis участвовал в онлайн-батлах, и не безуспешно. Так на «Левом Батле» ему удалось пробиться в финал. Здесь ему противостоял рэпер Мёд[Надо рэп], которому большинство судей и отдали победу. Во время интенсивного увлечения батловым творчеством начинающий рэпер старался максимально продвинуться и показать себя в этом. Он подает свои работы на «Goldbattle 2», «Paradise Battle 3» и «Springfield Battle». На краснодарском батле «Slovo» принимает участие в отборе на четвертый сезон. В составе команды «Blazer Boys» Pyrokinesis участвовал в подаче заявки на «Восьмой командный батл». В настоящее время биография Pyrokinesis не пополняется фактами участия в батлах. Он отказался от этого, и полностью все время посвящает музыкальному творчеству.
