doctype html
html
    head
        link(href='fonts/stylesheet.css', rel='stylesheet')
        link(href="css/index.css" rel="stylesheet" type="text/css")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Pyrokinesis is my Favorite Singer
        script(src="js/index.js" type="text/javascript")
    body#gallery
        a.link-to-top(href='#')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 129 129')
                path.active-path(fill='#020101', d='M7.7 94.4c1.6 1.6 4.2 1.6 5.8 0l51-51.1 51.1 51.1c1.6 1.6 4.2 1.6 5.8 0 1.6-1.6 1.6-4.2 0-5.8L67.5 34.7c-.8-.8-1.8-1.2-2.9-1.2-1 0-2.1.4-2.9 1.2L7.8 88.6c-1.7 1.6-1.7 4.2-.1 5.8z', data-old_color='#0A0707', data-original='#000000')

        .wrapper
            .container
                header.header.clearfix
                    a.header__logo.logo(href="index.html") Vania
                        span.mod--color-red Fed
                    nav.nav
                        ul.nav-list
                            li.nav__item
                                a.nav__link#nav__link--main(href="index.html") Главная
                            li.nav__item
                                a.nav__link#nav__link--biography(href="biography.html") Биография
                            li.nav__item
                                a.nav__link#nav__link--discography(href="discography.html") Дискография
                            li.nav__item
                                a.nav__link#nav__link--gallery(href="gallery.html") Галерея
                .welcome-picture
                    .text-welcome-container
                        .text-welcome-container__name-singer Pyrokinesis
                        .text-welcome-container__text-description мой любимый исполнитель
                article.article
                    .article-item 
                        h1.article__title-main Галерея
                        .gallery-container
                            div.img-container
                                img.gallery__image(src="img/8.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/9.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/10.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/11.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/21.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/12.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/13.jpg")
                            div.img-container
                                img.gallery__image(src="img/14.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/15.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/16.jpg")
                            div.img-container
                                img.gallery__image(src="img/17.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/18.jpg")                                
                            div.img-container
                                img.gallery__image(src="img/19.jpg")                                
        footer.footer.clearfix
            .footer-part
                ul.footer-list
                    li.footer__item Разработал Федяков Иван
                    li.footer__item Россия, Тверь, TverDev
            .footer-part
                ul.footer-list
                    li.footer__item Домашнее задание по IT
                    li.footer__item
                        a.footer__link(href="tel:79201517879") +7 (920) 151 78 79
